.options {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: teal;
}
